.App {
  text-align: center;
}

.logoHeader {
  background: black;
  text-align: center;
}

.logoHeader img {
  width: 25%;
}

.parallaxImage {
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
}

.buttonGroup {
  background: white;
  padding: .5%;
  z-index: 1;
  box-shadow: 1px 0px 10px black;
}

.buttonGroupFixed {
  background: white;
  padding: .5%;
  z-index: 1;
  position: fixed;
  top: 0;
  box-shadow: 1px 0px 10px black;
}

.placeHolder {
  font-family: sans-serif;
  text-align: center;
}

.titleOverImage {
  color: white;
  font-size: 2.5rem;
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: black;
  padding: 1%;
  padding-bottom: 1.5%;
  border-radius: 10px 10px 0px 0px;
}

.accueilTitle {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  color: black;
  text-align: center;
  font-size: 1.5rem;
}

.accueilDescription {
  color: black;
  text-align: center;
  font-size: 1.2rem;
}

/* .test {
  clip-path: polygon(0 0, 0 42%, 100% 0);
  background: black;
} */

.underImageAccueil {
  min-height: 350px;
}